@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body
{
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buttons
{
    position: relative;
    z-index: 1;
    margin: 0 auto 100px;
    margin-top: 120px;
    text-align: center;
}

.buttons .top_button_row button, .buttons .bottom_button_row button
{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FFFFFF;
    width: 49%;
    height: 120px;
    border: 0;
    color: #4CAF50;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.buttons .top_button_row button:hover, .buttons .bottom_button_row button:hover
{
    background-color: #4CAF50; /* Green */
    color: white;
}

.buttons .message
{
    margin: 70px 0 0;
    color: #FFFFFF;
    font-size: 12px;
}

.buttons .message a
{
    color: #FFFFFF;
    text-decoration: none;
}

.buttons .message a:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}