@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.register-page
{
    width: 450px;
    padding: 8% 0 0;
    margin: auto;
}

.form
{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input
{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.error
{
    font-size: 10px;
    color: #cc1111;
    text-align: left;
}

.weak
{
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 7px;
}

label
{
    display: block;
    width: 100%;
    white-space: nowrap;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    margin-bottom: 14px;
}

.disabled input
{
    color: #121212;
}

.form .location-form .search-field input
{
	border: 2px;
	border-color: #00ff00;
}

.form .location-form input
{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2e2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form .pests-crops-form input
{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2d2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form .location-form
{
    margin-top:20px;
}

.form .pests-crops-form
{
    margin-top:20px;
}

.form button
{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus
{
    background: #43A047;
}

.form .message
{
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a
{
    color: #76b852;
    text-decoration: none;
}

.form .message a:hover
{
    color: #4CAF50;
    text-decoration: underline;
}

body
{
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}